body{
    font-family: 'Josefin Sans', sans-serif;
    background: url('../images/bg.jpg');
}

.container{
    width: 1140px;
    margin: 0 auto;
}

#book{
}

.book-bucket{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    border: 7px solid #188BCC;
    padding: 60px 70px;
    text-align: center;
    background-color: #3A469C;
}

h1{
    font-size: 25px;
    color: #fff;
}

.book-element{
    margin-top: 30px;
    position: relative;
}

.book-element input{
    padding: 4px;
    width: 330px;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid #188BCC;
    color: #fff;
    background: none;
}

button{
    margin-top: 30px;
    cursor: pointer;
    padding: 10px;
    outline: none;
    width: 35%;
    font-size: 11px;
    border-radius: 1px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #3A469C;
}

button i{
    font-size: 11px;
}

::placeholder{
    color: #188BCC;
    font-size: 11px;
}

#name-value {
    padding: 2px;
  /* background-color: #f44336; */
  color: white;
  font-size: 11px;
  margin-bottom: 15px;
  display: none;
  position: absolute;
  top: 38px;
  right: 110px;
  width: 100%;
  }

  #mail-value{
    font-size: 11px;
    display: none;
    position: absolute;
    color: #fff;
    top: 40px;
    left: 5px;
  }

  #mobile-value{
    font-size: 11px;
    display: none;
    position: absolute;
    color: #fff;
    top: 40px;
    left: 5px;
  }

  #password-value{
    font-size: 11px;
    display: none;
    position: absolute;
    color: #fff;
    top: 40px;
    left: 5px;
  }